.image-class{
	border-radius:500px;
	height:300px;
	max-width:300px;
	margin-top: 5px;
	display: inline-block;
}

h{
	display: inline-block;
    font-size: 64px;
}
.header
{
	background-color: #AAAAff;
	padding: 5px;
	color: white;
	margin-bottom: 10px;
	text-align:center;
	margin-left: 30px;
	margin-right: 30px;
	border-bottom-left-radius :10px;
	border-bottom-right-radius:10px;
}
.inline_block_class{
}

.page {
	margin:30px;
	
}
