.image-class{
	border-radius:200px;
	height:400px;
	width:400px;
	max-height:100%;
	max-width:100%;
}
.header
{
	background-color: #AAAAAAAA;
	padding: 5px;
	margin-bottom: 10px;
	border-bottom-left-radius :10px;
	border-bottom-right-radius:10px;
}
.inline_block_class{
text-align:center;
}

.page {
	height:100%;
	width:100%;
}